.NhiNTH-listcustomer body {
    font-family: Poppins, serif;
}

.NhiNTH-listcustomer .row-scope {
    text-align: center;
}

.NhiNTH-listcustomer .row-scope td {
    background-color: #449af8;
    color: white;
}

.NhiNTH-listcustomer .row-name {
    text-align: left;
    width: 200px;
}

.NhiNTH-listcustomer .row-address {
    text-align: left;
    width: 200px;
}

.NhiNTH-listcustomer .myTable {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 2px;
}

.NhiNTH-listcustomer .form-select {
    width: 100%;
    margin-right: 10px;
}

.NhiNTH-listcustomer .form-control {
    width: 100%;
    margin-right: 15px;
}

.NhiNTH-listcustomer .search-selected {
    margin-right: 16%;
}

.NhiNTH-listcustomer fieldset {
    width: 100%;
    box-sizing: border-box;
}

.NhiNTH-listcustomer .boloc {
    margin-top: 25px;
    margin-bottom: 15px;
}

.NhiNTH-listcustomer legend {
    all: revert;
}

.NhiNTH-listcustomer b {
    font-size: 16px;
}

.NhiNTH-listcustomer .search-selected button {
    width: 75%;
}

.NhiNTH-listcustomer .sort {
    margin-left: 10%;
}

.NhiNTH-listcustomer nav {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

.NhiNTH-listcustomer .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.NhiNTH-listcustomer .myTable {
    width: 100%;
    border-collapse: collapse;
}

.NhiNTH-listcustomer .myTable th,
.NhiNTH-listcustomer .myTable td {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: top;
}

.NhiNTH-listcustomer .myTable thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.NhiNTH-listcustomer .myTable tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.NhiNTH-listcustomer .table-row {
    cursor: pointer;
}

.NhiNTH-listcustomer .selected-row {
    background-color: #082b34;
    color: white;
}

.NhiNTH-listcustomer .chucNang {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.NhiNTH-listcustomer .chucNang .btn-secondary:first-child {
    margin-right: auto;
}
.NhiNTH-listcustomer .chucNang button:not(:first-child) {
    margin-left: 10px;
}