body {
    font-family: 'Poppins';
}
.row-scope{
    text-align: center;
}
.row-scope td{
    background-color: #449af8;
    color: white;
}
.row-name{
    text-align: left;
    width: 200px;
}
.row-address{
    text-align: left;
    width: 200px;
}
.myTable {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 2px;
}
.form-select{
    width: 100%;
    margin-right: 10px;
}
.form-control{
    width: 100%;
    margin-right: 15px;
}

fieldset{
    width: 100%;
    box-sizing: border-box;
}

legend {
    all: revert;
}
b{
    font-size: 16px;
}
.chucNang {
    margin-top: 1%;
    display: flex;
    justify-content: flex-end; /* aligns items to the left */
}
.chucNang button{
    margin: 0px 5px;
}
nav {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}
.chucNang {

}
.myTable {
    width: 100%;
    border-collapse: collapse;
}

.myTable th, .myTable td {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: top;
}

.myTable thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.myTable tbody + tbody {
    border-top: 2px solid #dee2e6;
}
.table-row{
    cursor: pointer;
}
.selected-row{
    background-color: #082b34;
    color: white;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
}
.form-group div {
    margin-right: 140px;
}
.form-group div:last-child {
    margin-right: 0;
}

